/* colours:
Dark Purple: #271F30
Metallic Seaweed: #177E89
Platinum: #EBEBEB
Ash Gray: #CAD2C5
Mountbatten Pink: #9A7AA0

*/

#home-container {
  background-color: #271F30;
  color: #EBEBEB;
}

/* CAR FILTER SEARCH BAR: */
#car-filter-search-bar {
  background-color: #EBEBEB;
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 5rem;
  border-radius: 100px;
  border-style: solid;
  border-color: #271F30;
  border-width: 0.5rem;
}

#car-filter-text-box {
  margin: 3%;
}

#car-filter-search-bar > input {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0.5rem;
  color: #177E89;
  border-style: solid;
  border-color: #271F30;
}

#car-filter-search-bar > button {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 0.8rem;
  border-radius: 50px;
  background-color: #271F30;
  color: #EBEBEB;
}

#car-filter-search-bar > button:focus {
  background-color: #177E89;
  color: #EBEBEB;
}

#car-filter-search-bar > select {
  font-size: 2.5rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #177E89;
  padding: 0.3rem;
  border-style: solid;
  border-color: #271F30;
  border-width: 0.3rem;
  border-radius: 50px;
}

/* LIST OF CAR ITEMS */
#car-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 10px;
  column-gap: 10px;
}

.car-items {
  background-color: #271F30;
  color: #EBEBEB;
  border: 10px solid #177E89;
  border-radius: 0%;
  box-shadow: 7px 7px 7px 7px #EBEBEB;
  margin: 3em;
  padding: 1em;
  height: 18em;
  width: 20em;
  text-align: center;
}

.car-brand-header {
  font-size: 25px;
  margin: 0.5em;

}
#add-to-basket {
  background-color: #CAD2C5;
}




.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image{
    width: 1000px;
    height: 600px;
    border-radius: 10px;
  }
  
  .right-arrow{
    position: absolute;
    top:50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .left-arrow{
    position: absolute;
    top:50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }