#containersAll {
  margin: 2%;
  margin-top: 5%;
  background-color: #271f30;

}

button {
  cursor: pointer;
}


#navBar {
  /* margin: 0%, 2%, 0%, 2%;
  background-color: green;
  background-size: cover; */
  position: fixed; 
  top: 0; 
  width: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  list-style: none; 
  background-color:#177e89 ;
  z-index: 300;
}

#navbarlink > li{
  font-weight: 600;
  font-size: 2rem;
  color:#ebebeb;
  list-style: none;
  flex-wrap: wrap;
}

#navbarlink > li :link {
  text-decoration: none;}


#navbarlink > li{
  display: inline-block;
  padding:0px 15px;
}


Button#signOutButton {
  padding:5px 15px;
  border:none;
  border-radius: 50px;
  cursor:pointer;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

#navbarlink > li :hover{
  background-color: lightblue
}

/* .logo {
  cursor:pointer;
} */



