#containersAll {
  margin: 2%;
  background-color: #271f30;

}


#navBar {
  /* margin: 0%, 2%, 0%, 2%;
  background-color: green;
  background-size: cover; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  list-style: none; 
  background-color:#177e89 ;
  text-decoration: none;
}

.li, button{
  font-weight: 500;
  font-size: 16px;
  color:#ebebeb;
  list-style: none;
  flex-wrap: wrap;
  text-decoration: none;

}

li{
  display: inline-block;
  padding:0px 20px;

}

li :hover{
  color: #271f30;
}

Button#signOutButton {
  padding:5px 15px;
  background-color: #271f30;
  border:none;
  border-radius: 50px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}


/* .logo {
  cursor:pointer;
} */



